@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
    background-color: rgb(0,121,191);
    line-height: 18px;
    height: 100vh;
}

header {
    background: rgba(0,0,0,.15);
    padding: 5px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.header-logo {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    position: absolute;
    width: 5pc;
    height: 30px;
    z-index: 2;
    opacity: 0.5;
    transition: opacity ease-in 85ms;
}

.header-logo-default {
    background-image: url(../../img/title.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 5pc 30px;
    right: 0;
    top: 0;
    height: 30px;
    width: 5pc;
    position: absolute;
}

a {
    background-color: transparent;
}


/* BOARD */

.add-list-container {
    padding: 5px;
}

.add-list {
    background: rgba(0,0,0,.12);
    color: #fff;
    border: 0;
    text-align: left;
    height: auto;
    min-height: 30px;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 280px;
    padding: 7px;
}

.add-list:hover {
    background: rgba(0,0,0,.20);
}

.add-list-form {
    margin-bottom: 0;
}

.board {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 40px);
    padding-bottom: 1em;
}


/* LISTS */

.list-container {
    height: 100%;
}

.list {
    box-sizing: border-box;
    width: 270px;
    padding: 0.5em;
    margin: 5px 5px;
    border-radius: 3px;
    background: #e2e4e6;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.list-header {
    display: block;
    position: relative;
    margin-bottom: .5em;
    color: black;
    font-weight: 700;
}

.list-cards {
    overflow-y: overlay;
    overflow-x: hidden;
    min-height: 0;
}

.list-footer {
    font-weight: 500;
}

.list-title {
    left: 0;
}

.add-card {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 4px;
    text-align: left;
    background: rgba(16, 16, 16, 0.15);
    color: #333;
    margin: 3px 0;
}

.add-card:hover {
    background: rgba(96, 96, 96, 0.15);
}


/* CARDS */

.card {
    margin: 0 0 .5em;
    background: white;
    position: relative;
    border-radius: 3px;
}

.card-body {
    display: block;
    padding: .5em .5em 2em;
    font-family: Cabin,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
    transition: 0.5s all;
}

.card-more {
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.add-card-form {
    padding: 5px;
    margin-bottom: 0;
}

.add-card-form input {
    margin-bottom: 5px;
}
