<form action='/login' method="POST">
  <span>
    <input type="text" name="email" value ={{query_username}}>
    <input type="password" name="password" value={{query_password}}>
    <input type=""
  </span>
</form>


