.DS_Store
08_ajax_express/video_code/node_modules/*
.vscode/
4_node/2_address_book_cli/node_modules/*
7_mini_project_1/node_modules/*
5_express/1_express_intro/express_echo/node_modules/*
5_express/1_express_intro/node_modules/*
7_mini_project_1/env.sh
