<div style="position: relative; width: 600px; height: 700px;">
<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div>
    {{#each items}}
        {{title}} <br>
    {{/each}}
</div>

<div>
    <h3>Sort</h3>
    <a href="/?sort=start">start</a>
    <a href="/?sort=end">end</a>
    <a href="/?sort=goal">goal</a>
    <a href="/?sort=contributions">contributions</a>
    <a href="/?sort=filter">filter</a>
</div>

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
    <div style="position: absolute; bottom: 10px">
        <a href="http://localhost:3000/new">Create new project</a>
    </div>
</div>
