<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}
    <h3><a  href="/project/{{id}}">{{title}}</a></h3>

{{/each}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->


<h2><a href="http://localhost:3000/new">Create new project</a></h2>