<h1>View projects</h1>

<!-- Part 1: View all projects -->
<ol>
    {{#each projects}}
    <li><a href="http://localhost:3000/project/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
</ol>


<!-- Part 2: Create new project -->
<a href="http://localhost:3000/new">Create a new project</a>
