<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>First Form</title>
    </head>
    <body>
        <h1>Learning About Forms</h1>
        <form action="/destination" method="post">
            <input type="text" name="username" value="{{query_username}}">
            <input type="submit" value="Submit Form">
        </form>
    </body>
</html>
