<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Greetings!</title>
    </head>
    <body>
        <h1>Welcome <em>
        {{#if user_name}}
            {{user_name}}
        {{else}}
            Stranger
        {{/if}}
        </em></h1>
    </body>
</html>
