body {
    font-family: Helvetica Neue, Arial, sans-serif;/** Your CSS goes here! **/
    font-size: medium;
    font-weight: 400;
    color:#4d4d4d
}

h2 {
    font-size: large;/** and here (you get the point) **/
}

section, footer {
  /* border: solid red 1px; */
  padding: 80px 20px;
}

.center-paragraph {
  /* border: solid red 1px; */
  margin: 1em 16%;
}

.text-center {
  /* border: solid red 1px; */
  text-align: center;
}
