.section {
  overflow: hidden;
  clear:both;
}
div {
  display: block;
}
.baby-blue-background {
  background-color: #e4f0f6;
  margin: 20px 0px;
  }
.grid-left {
  max-width: 598px;

}
a {
    color: #5e98ba;
}

.app-store-link {
  display: inline-block;
  vertical-align: top;
  margin: .4em 1em 0 0;
  padding: 0;
}

.outline-link {
  border: 1px solid;
  border-radius: 0.3em;
  padding: .7em 1em;
  margin: .4em 0 0;
  display: inline-block;
}
.grid-right {
  position: absolute;
  top: -60px;
  left: 640px;

}
.grid-layout {
  position: relative;
  max-width: 890px;
  margin: 0 auto;
  /* float: right; */

  }/* ADD STYLES FOR PART 6 HERE */
