<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <h1>This is our first form</h1>
        <form action="/destination2" method="POST">
            <input type="text" name="users_name" values={{query_users_name}}>
            <input type="submit" value="Submit form">
        </form>
    </body>
</html>