<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <h1>This is our first handlebars template</h1>
        <ul>
            {{#each skills}}
            <li>Language: {{language}}
                Skills Level: {{level}}
            </li>
            {{/each}}
        </ul>
    </body>
</html>