<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<ul class="project_list">
    {{#each items}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new"> Create new project</a>

