<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<ul class="param_list">
    {{#each single}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
