<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
  </head>
  <body>
    <h1>Count: {{count}}</h1>
    <form action="/up" method="post">
      <input type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input type="submit" value="Down">
    </form>
  </body>
</html>
