<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel='stylesheet' href='../public/css/style.css' />

  </head>
  <body>
    {{{body}}}
  </body>
</html>
