<!-- YOUR HBS TEMPLATE HERE -->
<form method='POST' action="/register">
<input type="text" name="username"><br>
<input type="password" name="password"><br>
<input type="password" name="password_repeat">
<input type="submit">
</form>