<div>
  <span>YOUR CODE HERE</span>
  <ol>
    {{#each data}}
    <li>First name: {{this.first_name}}  Last Name: {{this.last_name}}  Email: {{this.email}} Gender: {{this.gender}}</li>
    {{/each}}
  </ol>
  
</div>
