<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <h1>{{error_msg}} page not found, did you enter it correctly?</h1>
    </body>
</html>