<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> {{error}} page not found! </h1>
    <h2> did you enter the correct URL?</h2>
  </body>
</html>
