{{#if users_name}}
    <h1>{{users_name}}</h1>
{{else}}
    <h1>Default Header</h1>
{{/if}}

<form>
    <input type="input" name="user_name" value="{{users_name}}">
    <input type="submit" value="Submit Name">
</form>
