<form>
  <span>
      <input type="text" name="username" value="{{username}}"><br>
      <input type="password" name="password" value="{{password}}"><br>
      <input type="text" name="name" value="{{name}}"><br>
          <!--<input type="radio" name="gender" value="Male" checked> Male<br>-->
          <!--<input type="radio" name="gender" value="Female" checked> Female<br>-->
          <!--<input type="radio" name="gender" value="Other" checked> Other<br>-->
      <input type="radio" name="gender" value="Male" > Male<br>
      <input type="radio" name="gender" value="Female"> Female<br>
      <input type="radio" name="gender" value="Other"> Other<br>
      <select>
          <option name="city" value="BJ">Beijing</option>
          <option name="city" value="NJ">Nanjing</option>
          <option name="city" value="SH">Shanghai</option>
          <option name="city" value="SZ">Suzhou</option>
      </select>
      <input type="submit" value="Register">
  </span>
</form>