<form>
  <span>
  <input type = "text" name = "username" value = "Enter Username"> <br>
  <input type = "password" name = "password"> <br>
  <input type="radio" name="gender" value="Male"> Male <br>
  <input type="radio" name="gender" value="Female"> Female <br>
  <input type="radio" name="gender" value="Other"> Other <br>
  <input type = "submit" value= "Register">

  </span>
</form>