<form>
  <span>
      <input type="text" name="username" value="{{username}}"><br>
      <input type="password" name="password" value="{{password}}"><br>
      <input type="text" name="name" value="{{name}}"><br>
      <input type="radio" name="gender" value="Male" > Male<br>
      <input type="radio" name="gender" value="Female"> Female<br>
      <input type="radio" name="gender" value="Other"> Other<br>
  </span>
</form>