<form action = "/login" method = "POST">
  <span>
  <input type = "text" name = "email" value= "Email"> <br>
  <input type = "password" name = "password"> <br>
  <input type = "submit" name "Enter">
  </span>
</form>


