<form action="/login" method="post">
  <span><input type="text" name="email" value={{email}}>
    <br/>
    <input type="password" name="password" value={{password}}>
    <br/>
    <input type="submit" value="Login">
  </span>
</form>


