<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <form action="/up" method="post">
    <h1>Count: <span id="count">{{count}}</span></h1>
    </form>

    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>
    <script>
      let count1 = $('#count').text()

      $('#up').on('click',event=>
      {
        event.preventDefault();
                $.ajax({
          type:'POST',
          url:'/up',
          data:{
            count:count1
          },
          success:(res)=>
          {
            $('#count').text(res.count)
           console.log("Successfully increased to",res.count)
          },
          dataType:'json'
        }
        )
      })
      $('#down').on('click', event=>
      {
        event.preventDefault();
        let count1 = $('#down').text()
        $.ajax({
          type:'POST',
          url:'/down',
          data:{
            count:count1
          },
          success:(res)=>{
            $('#count').text(res.count)
          }
        })
      })
    </script> 
  </body>
</html>
