<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><a href="/">Form Methods</a></h1>
    <form method="post">
      User: <input type="text" name="user">
      Password: <input type="password" name="secret" value="">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
