<h1>Restaurants</h1>

{{#each restaurants}}
  <h1>Restaurant: {{restaurant}}</h1>

  <h2>Menu</h2>
  <ul>
    {{#each menu}}
    <li>
      <h3>{{name}}</h3>
      <h3>${{price}}</h3>
      Ingredients:
      <ol>
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ul>
{{/each}}
