<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>
      {{#if isEven}}
        The word <em>{{word}}</em> has an even number of letters!
      {{else}}
        The word <em>{{word}}</em> has an odd number of letters!
      {{/if}}
    </h1>
  </div> 
</body>
</html>