<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>

<body>
  <h1>Login</h1>

  <form action="/login" method="post">
  <span><input type="text" name="username" value={{username}}>
    <input type="submit" value="Login">
  </span>
  </form>
</body>
</html>
