<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>

<body>
  <h1>Login</h1>

  <!-- Part 1: Login form -->

  <!--
    Add an HTML form with `method="POST"` and `action="/login"`.
    This login form should contain a single `<input>` element of `type="text"`
    and `name="username"` and [a submit button](http://www.w3schools.com/html/html_forms.asp)
  -->

  <!-- YOUR CODE HERE -->
</body>
</html>
